@import "./variables.scss";

// Global resets and base styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: var(--text-size-x-large);
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  font-size: var(--text-size-medium);
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--primary-color);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  button {
    background-color: var(--card-background-light);
  }
}

#root {
  width: 100vw;
  height: 100vh;
}
