@import "./variables.scss";

// Global resets and base styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;

  &:hover {
    color: var(--primary-hover);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--card-background);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--primary-color);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  a {
    &:hover {
      color: #747bff;
    }
  }

  button {
    background-color: var(--card-background-light);
  }
}

#root {
  width: 100vw;
  height: 100vh;
}
