// Main app layout
.app {
  min-height: 100vh;
  text-align: center;

  .app-header {
    background-color: var(--card-background);
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      padding: 20px;
    }

    .add-animal-button {
      font-size: var(--text-size-medium);
    }
  }

  .app-title {
    font-size: var(--text-size-heading);
  }
}
